:root{

    --color-background: #1A173D;
    --color-main-purple: #5133A6;
    --color-main-orange: #E25300;
    --color-white: #fff;
    --duration: 250ms;
    --function: cubic-bezier(0.4, 0, 0.2, 1);
          
  }

body {
    
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: Righteous, sans-serif; 
    cursor: url('../images/image\ 7.png'), auto;
 
      
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
    color: var(--color-white);
}


h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {   

    /* padding-top: 30px; */
    padding-bottom: 30px;       
     
}


@media screen and (min-width: 768px) {
    .section { 
        /* padding-top: 60px; */
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1440px) {
    .section { 
        /* padding-top: 109px; */
        padding-bottom: 109px;
    }
}

.gradient{
    border-radius: 25px;
    background: rgb(133, 100, 187);
    background: linear-gradient(rgb(133, 100, 187) 0%, rgb(102, 44, 197) 85%);
}
.gradient-orange{
    background: rgb(245, 194, 146);
    background: radial-gradient(rgb(245, 194, 146) 25%, rgb(241, 150, 65) 85%);
    color:var(--color-main-purple);
    border-radius: 25px;
}

.container {
    min-width: 320px;
    max-width: 493px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 147px;
        padding-right: 147px;
    }
}


.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/**
  |============================
  | Header
  |============================  
*/

.container-header {
    
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}


.logo{
    display: flex;
    align-items: center;
    gap:10px;
}

.img-logo {
    width: 40px;
    height: 40px;
}

@media screen and (min-width:768px){
    .img-logo 
    {
    width: 60px;
    height: 60px;
    }

}
.title {
    
    color: var(--color-main-orange);
    font-size: 24px;
}

.svg-logo{
    width: 40px;
    height: 40px;
}

@media screen and (min-width:768px){
    .svg-logo{
        width: 60px;
        height: 60px;
    }

}

@media screen and (min-width:1440px){
    .svg-logo{
       visibility: hidden;
    }

}


/**
  |============================
  | section education
  |============================
*/
.section-education{
    padding-top: 90px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:768px){
    .section-education{
        padding-top: 52px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1440px) {
    .section-education { 
        padding-top: 109px;
        padding-bottom: 109px;
      
    }
}

.container-education{
    padding-top: 74px;
    padding-bottom: 10px;
    min-width: 312px;

    display: flex;
    position: relative;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
     margin-left: auto;
     margin-right: auto;
}
@media screen and (min-width: 768px){
    .container-education{
       
        width: 402px;
        padding: 30px 38px;
        
    }
}
@media screen and (min-width: 1440px){
    .container-education{
        width: 625px;
        padding: 50px 50px;     
    
    
    }
}
.wripper-education{
    position: relative;    

}
@media screen and (min-width:768px){
    .wripper-education{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 60px;
        gap: 12px;
}
}
@media screen and (min-width:1440px){
    .wripper-education{
        gap:24px;
}
}
.img-education{
    position: absolute;
    width: 276px;
    height: 198px;
    left: 70px;
    top:-100px;
    transform: translateX(-50px);
    background-image: url(../images/Rectangle-mob.png);


}
@media screen and (min-width:768px){
    .img-education{ 
        width: 274px; 
        height: 198px;
        position: static; 
        transform: translate(0);
        display: block;
        background-image: url("../images/Rectangle-tabl.png");
    }
}
@media screen and (min-width:1440px){
    .img-education{ 
        width: 514px; 
        height: 370px;
        position: static; 
        transform: translate(0);
        display: block;
        background-image: url("../images/Rectangle-desk.png");
    }
}


.education-title{

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
}
@media screen and (min-width:768px){
    .education-title{
        font-size: 36px;
        text-align: start;
    }
}
@media screen and (min-width:1440px){
    .education-title{
        font-size: 50px;
        text-align: start;
    }
}
.education-text{
    padding: 6px 44px;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;    
}
@media screen and (min-width: 768px){
    .education-text{
        
        padding: 5px;
    }
}
@media screen and (min-width: 1440px){
    .education-text{
        font-size: 18px;
        padding: 5px;
    }
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap:10px;
   justify-content: center;
   align-items: center;

    
}
@media screen and (min-width:768px){
    .btn-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 40px;
     
    }
}
.btn-subscribe{
    display: inline-flex;
    justify-content: center;

    width: 267px;
    border-radius: 24px;
    background-color: var(--color-main-orange);
    font-family: Righteous, sans-serif;
    font-size: 16px;
    color:var(--color-white);
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
     
}
.btn-subscribe:hover,
.btn-subscribe:focus{
    cursor: url('../images/image\ 7.png'), auto;
    background-color: transparent;
    color: var(--color-main-orange);
    border-color: var(--color-main-orange);
    
    }


    .btn-subscribe::after {
        content: "";
        color: var(--color-main-orange);
        width: 25px;
        height: 16px;
        margin-left: 5px;
        background-size: cover;
        display: none;
    
        background-image: url("../images/Arrow\ 2.png"); 
        
      }
      
      /* Show arrow icon on hover */
      .btn-subscribe:hover::after,
      .btn-subscribe:focus::after {
        display: block;
       
      }


@media screen and (min-width:768px){
    .btn-subscribe{
        
        width: 150px;
    }
}
@media screen and (min-width:1440px){
    .btn-subscribe{
        font-size: 20px;
        width: 200px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.btn-watch{
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 267px;
    background-color: transparent;
    border-radius: 24px;
    border-color: var(--color-main-orange);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Righteous, sans-serif;
    font-size: 16px;
    color:var(--color-main-orange);    
  
}
.btn-watch:hover,
.btn-watch:focus{
    cursor: url('../images/image\ 7.png'), auto;
}
@media screen and (min-width:768px){
    .btn-watch{
        width: 150px;
        justify-content: center;
        gap: 10px;
    }
}
@media screen and (min-width:1440px){
    .btn-watch{
        font-size: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 200px;
        justify-content: center;
        gap: 10px;
    }
}
.svg-watch{
    width: 20px;
    height: 20px;
}
.cat-img{
   display: none;

}

@media screen and (min-width: 768px){
    .cat-img{
        display: block;
        width: 70px;
        height: 70px;
    }
}
@media screen and (min-width: 1440px){
    .cat-img{
        display: block;
        width: 80px;
        height: 80px;
    }
}
.content{
    display: flex;
    gap:24px;
    align-items:center;
    justify-content: center;
    margin-bottom: 18px;
}
@media screen and (min-width:768px){
    .content{
        margin-bottom: 30px;
    }
}
@media screen and (min-width:1440px){
    .content{
        margin-bottom: 30px;
        gap:52px;
    }
}
.statistic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    justify-content: space-between;  
    margin-bottom: 20px;
      
}
@media screen and (min-width:768px){
    .statistic{
       
        flex-direction: row;
        justify-content: center;
        gap: 150px;
    }
}
@media screen and (min-width:1440px){
    .statistic{
       
        flex-direction: row;
        justify-content:center;
        gap: 78px;
        margin-right: 64px;
        margin-bottom: 0;
    }
}
.svg-statistic{
    width: 40px;
    height: 40px;  
   
}
.list-statistic{
    display: flex;    
    align-items: center;
    justify-content: space-between;
    width: 262px;
    font-family: Righteous, sans-serif;
    font-size: 20px;    
}
@media screen and (min-width:768px){
    .list-statistic{        
        flex-direction: column;
        justify-content: center;
         width: auto;
         font-size: 24px;
    }
}
.sub-list{
    display: flex;
    gap: 28px;
    align-items: center;
}
@media screen and (min-width:768px){
    .sub-list{
        flex-direction: column;
        gap: 8px;
    }
}
.cat-img2{
    display: block;
}
@media screen and (min-width:768px){
    .cat-img2{
        display: none;
    }
}
@media screen and (min-width:768px){
    .svg-item{
        order: 2;
    }
}
.separator{
    width: 286px;
    height: 4px;
    background-color: var(--color-white);
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 26px;
}
@media screen and (min-width: 768px){
    .separator{
        width: 628px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1440px){
    .separator{
        width: 4px;
        height: 133px;
        margin-right: 64px;
    }
}
.container-statistic{
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:768px){
    .container-statistic{
        width: 100%;
        padding: 38px 30px;    
    }
}
@media screen and (min-width:1440px){
    .container-statistic{
        flex-direction: row;
        max-width: 1144px;
        /* min-width: 989px; */
        padding: 38px 30px; 
               
    }
}


/**
  |============================
  | Slider
  |============================*/

  .slider {
    width: 267px;
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
 }
 @media screen and (min-width:768px){
    .slider{
        width: 587px;
    }
 }
 
 @media screen and (min-width:1440px){
    .slider{
        width: 433px;
    }
 }
 .navigation {
   
    display: flex;
    gap:26px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .bar {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: var(--color-white);
    border-radius: 10px;
    transition: all 0.4s ease;
 }
 
 .bar:hover {
    background-color: var(--color-main-orange);
    transform:scale(1.1);
 }
 
 input[name="r"] {
    position: absolute;
    visibility: hidden;
 }
 
 .slides {
    width: 801px;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
 }
 @media screen and (min-width:768px){
    .slides{
        width: 1761px;
        margin-bottom: 20px;

    }
 }
 @media screen and (min-width:1440px){
    .slides{
        width: 1299px;
        margin-bottom: 0;
    }
 }

 .slide {
    width: 267px;
    transition: all 0.6s ease;
    display: flex;
    gap: 14px;

 }
 @media screen and (min-width:768px){
    .slide{
        width: 587px;
        gap:38px;
        align-items: center;
    }
 }
 @media screen and (min-width:1440px){
    .slide{
        width: 433px;
        gap:34px;
        align-items: center;
    }
 }
 .img {
    width: 50px;
    height: 50px;
 }
 @media screen and (min-width:768px){
    .img{
        width: 100px;
        height: 100px;
    }
 }
 #r1:checked ~ .s1 {
    margin-left: 0;
 }
 
 #r2:checked ~ .s1 {
    margin-left: -267px;
 }
@media screen and (min-width:768px){
    #r2:checked ~ .s1 {
        margin-left: -587px;
     }
}
@media screen and (min-width:1440px){
    #r2:checked ~ .s1 {
        margin-left: -433px;
     }
}
 #r3:checked ~ .s1 {
    margin-left: -534px;
 }
@media screen and (min-width:768px){
    #r3:checked ~ .s1 {
        margin-left: -1174px;
     }
} 
@media screen and (min-width:1440px){
    #r3:checked ~ .s1 {
        margin-left: -866px;
     }
} 
.description{
    color: var(--color-white);
 }
 .name{
    margin-bottom: 8px;
 }
 @media screen and (min-width:768px){
    .name{
        font-size: 24px;
    }
 }
 .review{
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    line-height: 1.2;
 }
 @media screen and (min-width:768px){
    .review{
        font-size: 18px;
        
    }
 }
 @media screen and (min-width:1440px){
    .review{
        font-size: 16px;
        
    }
 }
/**
  |============================
  | Section Opportunities
  |============================
*/
.section-title{
    font-size: 24px;   
     margin-bottom: 6px;
    margin-bottom: 16px;
}
@media screen and (min-width:768px){
    .section-title{
        font-size: 36px;
    }
}
@media screen and (min-width:1440px){
    .section-title{
        font-size: 48px;
    }
}
.section-text{
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}
@media screen and (min-width:768px){
    .section-text{
        font-size: 18px;
    }
}

.wripper{
    display: flex;
    flex-direction: column;
    gap:100px;
    align-items: center;
   
    
}
@media screen and (min-width:1440px){
    .wripper{
        flex-direction: row;
        gap: 14px;
        justify-content: center;
    }
}
.rettangle{
    position: relative;
    width: 312px;
    transform:  skewY(5deg);
    padding-top: 120px;
    padding-bottom: 74px;
    padding-left: 22px;
    padding-right: 22px;
}
@media screen and (min-width:768px){
    .rettangle{
        width: 552px;
        padding-top: 65px;
        padding-left: 24px;
        padding-right: 200px;
    }
}
@media screen and (min-width:1440px){
    .rettangle{
        width: 345px;
        padding-top: 194px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
.img-wripper{    
    position: absolute;
    top:-125px;
    left: 20px;
    transform:  skewY(-5deg); 
    width: 270px;
    height: 270px;
    
   
}
@media screen and (min-width: 768px){
    .img-wripper{
        top:-70px;
        left:340px;
        width: 320px;
        height: 320px;
       
    }
}
@media screen and (min-width: 1440px){
    .img-wripper{
        top:-150px;
        left:20px;
        width: 320px;
        height: 320px;
       
    }
}

.container-opportunities{
   
    margin-bottom: 90px;
}
@media screen and (min-width:768px){
    .container-opportunities{
        margin-bottom: 50px;
    }
}
@media screen and (min-width:1440px){
    .container-opportunities{
    
        padding-left: 100px;
        margin-bottom: 140px;
    }
}
.content-rettangle{
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    transform:  skewY(-5deg); 
    line-height: 1.12;

}
.content-title{
    font-family: Righteous, sans-serif;
    font-size: 20px;
   
    margin-bottom: 20px;
    text-align: center;
}
@media screen and (min-width:1440px){
    .content-title{

        font-size: 34px;
    }
}
.content-text{
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}
@media screen and (min-width:768px){
    .content-text{
        font-size: 18px;
    }
}
/**
  |============================
  | Section Gallery
  |============================
*/
.container-gallery{
    text-align: end;
    margin-bottom: 30px;
}
@media screen and (min-width:768px){
    .container-gallery{
        margin-bottom: 60px;
    }
}
.wripper-gallery{
   display: grid;
   gap:16px;
   grid-template-columns: 1fr;
}

@media screen and (min-width:768px){
    .wripper-gallery{            
        grid-template-columns: repeat(2, 1fr);
     
        gap:12px 34px;
    }
    .img-grid{
        grid-column: 2/3;
        grid-row: 1/3;
        
    }
}
@media screen and (min-width:1440px){
    .wripper-gallery{
        grid-template-columns: repeat(3, 1fr);
        gap:12px 16px;
        padding-left: 40px;
        padding-right: 40px;
    }
   
}

.picture-overlay{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.picture-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(133, 100, 187);
    background: linear-gradient(rgb(133, 100, 187) 0%, rgb(102, 44, 197) 85%);
    transform: translateY(100%);
    
    transition: transform var(--duration) var(--function);
}

.picture-item:hover .picture-description,
.picture-item:focus .picture-description {
    transform: translateY(0);

}


/**
  |============================
  | Section Subscribe
  |============================
*/
.section-subscribe{
    padding-top: 170px;
    padding-bottom: 30px;
}
@media screen and (min-width:768px){
    .section-subscribe{
        padding-top: 138px;
        padding-bottom: 74px;
    }
}
@media screen and (min-width:1440px){
    .section-subscribe{
        padding-top: 63px;
        padding-bottom: 106px;
    }
}
.container-subscribe{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
          
}
@media screen and (min-width:768px){
    .container-subscribe{     
        padding-top: 70px;
        padding-bottom: 34px;
        padding-left: 42px;
        padding-right: 66px;
    }
}
@media screen and (min-width:1440px){
    .container-subscribe{
        width: 948px;
        padding-top: 32px;
        padding-bottom: 34px;
        padding-left: 34px;
        padding-right: 294px;
        margin-left: 40px;
    
    }
}
.subscribe-title{
    width: 222px;
    font-size: 24px;   
    text-align: left;
    margin-bottom: 4px;
}
@media screen and (min-width:768px){
    .subscribe-title{
        width: auto;
        font-size: 36px;
        margin-bottom: 6px;
    }
}
@media screen and (min-width:1440px){
    .subscribe-title{
        width: auto;
        font-size: 48px;
        margin-bottom: 6px;
    }
}
.subscribe-text{
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}
.desktop-text{
    display: none;
}
@media screen and (min-width:768px){
    .desktop-text{
        display: block;
    }
}
@media screen and (min-width:1440px){
    .desktop-text{
        width: 558px;
    }
}
.wripper-content{
    margin-bottom: 20px;
}
@media screen and (min-width:768px){
    .wripper-content{
        margin-bottom: 22px;
    }
}
@media screen and (min-width:1440px){
    .wripper-content{
        margin-bottom: 46px;
    }
}
.form{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px){
    .form{
        flex-direction: row;
    }
}
.btn-form{
    width: 262px;
}
.btn-form:hover,
.btn-form:focus{
    background-color: transparent;
    color: var(--color-main-orange);
    border-color: var(--color-main-orange);
}
@media screen and (min-width:768px){
    .btn-form{
        width: 152px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}
@media screen and (min-width:1440px){
    .btn-form{
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.email-input{
    width: 262px;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px 32px;
    border-color: transparent;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}
@media screen and (min-width:768px){
    .email-input{
        width: 450px;
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.form-img{
    width: 393px;
    position: absolute;
    top:-200px;
    left: -30px;
}
@media screen and (min-width:768px){
    .form-img{
        width: 486px;
        top:-240px;
        left: 190px;
    }
}
@media screen and (min-width:1440px){
    .form-img{
        width: 612px;
        top:-120px;
        left: 500px;
    }
}
/**
  |============================
  | Footer
  |============================
*/
.footer-container{
    display: flex;
    flex-direction: column;
    padding-top: 62px;
    padding-bottom: 68px;
}

@media screen and (min-width:768px){
    .footer-container{
        
        padding-top: 16px;
        padding-bottom: 45px;
}

}
@media screen and (min-width:1440px){
    .footer-container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;
}

}
.footer-separator{
    height: 4px;
    background-color: var(--color-main-orange);
    border-radius: 4px;
    
}
.social-wrapper{
    display: flex; 
    gap:20px;
    justify-content: center;

 
}
@media screen and (min-width:768px){
    .social-wrapper{
        gap:24px;
        margin-bottom: 30px;
       
    }
}
@media screen and (min-width:1440px){
    .social-wrapper{
        justify-content: flex-start;
        margin-bottom: 0;
    }
}
.social-svg{
    width: 50px;
    height: 50px;
}
@media screen and (min-width:768px){
    .social-svg{
        width: 60px;
        height: 60px;
    }
}

.info{
    display: flex;
    flex-direction: column;
    gap:28px;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
}
@media screen and (min-width:768px){
    .info{
        flex-direction: row;
        gap:96px;
    }
}
@media screen and (min-width:1440px){
    .info{
        gap:46px;
    }
}

/**
  |============================
  | Mobile menu
  |============================
*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}


#main-menu ul {
    display: flex;
    gap:32px; 

  align-items: center;

}


#main-menu a {
  color: var(--color-white);
  font-size: 16px;
  text-decoration: none;
}

#main-menu a:hover{
    
    cursor: url('../images/image\ 7.png'), auto;
}

.main-menu .menu{
    position: relative;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    width: 40px;
    height: 40px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;

    background-image: url("../images/Frame.png");
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 500px;  
    width: 100%;
    height: 100%;
    background: rgb(245, 194, 146);
    background: radial-gradient(rgb(245, 194, 146) 25%, rgb(241, 150, 65) 85%);
    color:var(--color-main-purple);
    transition: 0.5s;
    padding: 0px 10px;
    box-sizing: border-box;
    z-index: 999;
  
}

#hamburger-menu h3 {
  color: var(--color-main-purple);
  font-size: 36px;
  margin-bottom: 20px;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  
}

#hamburger-menu a {
  color: var(--color-main-purple);
  font-size: 24px;
  text-decoration: none;
}


#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

#hamburger-menu{
    display: block;
}
#main-menu{
    display: none;
}
@media screen and (min-width: 1200px) {
  #main-menu {
    display: flex;
    position: relative;
    gap:32px;
  }
  #hamburger-menu {
    display: none;
  }
}

.btn-menu{
    width: 120px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-menu:hover,
.btn-menu:focus{
    cursor: url("../images/image\ 7.png"),auto;
}

.site-menu .menu{
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    width: 100px;
}

.site-menu .menu::after,
.main-menu .menu::after
 {
    position: absolute;
    left: 0;
    top:25px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    transform: scaleX(0);

    background-color: transparent;
    border-radius: 2px;
}
.main-menu .menu::after{
    top:20px;
}
.site-menu .menu:hover,
.site-menu .menu:focus,
.main-menu .menu:hover,
.main-menu .menu:focus
{
    text-decoration: none;
}

.site-menu .menu::after,
.main-menu .menu::after
{

    transition: transform var(--duration) var(--function),
                background-color var(--duration) var(--function);
}
   

.site-menu .menu:hover::after,
.site-menu .menu:focus::after,
.main-menu .menu:hover::after,
.main-menu .menu:focus::after
 {

    transform: scaleX(1);
    background-color: var(--color-main-orange);
        
}
